@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn-primary {
		@apply text-slate-700 bg-blue-400 p-1 rounded-sm text-[.8rem];
	}
}

body {
	color: #ccc;

	ul {
		list-style: disc;
		margin-left: 2rem;
	}

	a.active {
		color: yellow;
	}

	nav {
		background-color: #444;
		padding: 1rem;
		margin-bottom: 1.5rem;
		ul {
			display: flex;
			gap: 1rem;
			list-style: none;
			margin-left: .1rem;
		}
	}

	input {
		color: black;
	}

	.btn-primary:disabled {
		opacity: .3;
	}
}